<div class="row">
  <div class="col-12 text-center mt-2">
    <h3 class="display-4">A Huge Collection of Forniture</h3>
  </div>
</div>

<div class="row">
  <div class="col-12 text-center">
    <h3 class="display-4">Products for Your Interior</h3>
  </div>
</div>

<div class="row">
  <div class="col-12 text-center">
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in nulla tincidunt nisl molestie gravida id quis eros. Suspendisse at gravida sapien. Nulla vel consectetur nisl. Sed dictum diam tellus.</p>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <app-categories></app-categories>
  </div>
</div>
